.site-title::before {
    content: url("/logo.svg");
    display: inline-block;
    position: relative;
    width: 32px;
    top: 7px;
    margin-right: 12px;
}

.footer-copyright {
    font-size: 0.9375rem;
    color: #828282;
    margin-top: 30px;
    text-align: center;
  }